<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.dispatchers.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <display-name>employee-management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createEmployee</display-name>
    <servlet-name>createEmployee</servlet-name>
    <servlet-class>com.dispatchers.createEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createEmployee</servlet-name>
    <url-pattern>/createEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.dispatchers.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmp</display-name>
    <servlet-name>DeleteEmp</servlet-name>
    <servlet-class>com.dispatchers.DeleteEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmp</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindById</display-name>
    <servlet-name>FindById</servlet-name>
    <servlet-class>com.dispatchers.FindById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindById</servlet-name>
    <url-pattern>/FindById</url-pattern>
  </servlet-mapping>
</web-app>